/*.uwc
*/*.uwc
*/*/*.uwc

/*.tws
*/*.tws
*/*/*.tws

/*.aut.txt
*/*.aut.txt
*/*/*.aut.txt

*/RegrTest/Log/*
*/RegrTest/Log/*/*
*/RegrTestBL600/Log/*
*/RegrTestBL600/Log/*/*

StringPlayer*.exe
ATinterface/$autorun$.AT.interface.0*.sb
ATinterface/$TEMP$.vsp.uart.bridge.configurable.incoming.sb
Applications/XCompile.exe
Applications/$$$_*.bat
