/*.uwc
*/*.uwc
*/*/*.uwc

/*.tws
*/*.tws
*/*/*.tws

/*.aut.txt
*/*.aut.txt
*/*/*.aut.txt
*/*/*/*.aut.txt

RegrTest/*/*/Log/*

*.xlsx

Archive/*
Archive/*/*
Archive/*/*/*

sreg.defaults.creation.*.sb

Deploy/*
